{% extends "base/base.html" %}
{% block title %}سیاست حفظ حریم خصوصی{% endblock %}
{% block start %}

<link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
  }
  .para-text {
    font-size: 16px;
    line-height: 2rem;
    text-align: justify;
    color: #333333;
  }
  .card {
    border-radius: 8px;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }
  h2, h4 {
    color: #212529;
  }
</style>

<section class="section-content padding-bottom">
  <div class="mx-auto" style="max-width: 85rem; margin-top: 30px">
    <div class="container my-5">
      <h2 class="text-center mb-4">سیاست حفظ حریم خصوصی</h2>

      <div class="card p-4">
        <h4 class="text-right mb-2">۱. مقدمه</h4>
        <p class="para-text">
          ما به حریم خصوصی شما اهمیت می‌دهیم و متعهد به حفاظت از اطلاعات شخصی شما هستیم. این سیاست حفظ حریم خصوصی انواع اطلاعاتی که جمع‌آوری می‌کنیم و نحوه استفاده، افشا و حفاظت از این اطلاعات را توضیح می‌دهد.
        </p>

        <h4 class="text-right mb-2">۲. اطلاعاتی که جمع‌آوری می‌کنیم</h4>
        <p class="para-text">
          ما انواع مختلفی از اطلاعات را جمع‌آوری می‌کنیم، از جمله اطلاعاتی که شما را به عنوان یک فرد شناسایی می‌کند یا ممکن است شناسایی کند ("اطلاعات شخصی"). این شامل نام، آدرس ایمیل، آدرس‌های صورت‌حساب و ارسال، و اطلاعات پرداخت شما می‌شود.
        </p>

        <h4 class="text-right mb-2">۳. یکپارچه‌سازی با اشخاص ثالث</h4>
        <p class="para-text">
          هنگام ثبت‌نام از طریق گوگل یا فیسبوک، ممکن است اطلاعات اضافی ارائه‌شده توسط این پلتفرم‌ها را جمع‌آوری و ذخیره کنیم تا تجربه کاربری شما را بهبود ببخشیم یا ویژگی‌های خاصی را فعال کنیم. ما این اطلاعات را مطابق با سیاست‌های حفظ حریم خصوصی آن‌ها مدیریت کرده و اقدامات مناسبی برای حفاظت از اطلاعات شخصی شما انجام می‌دهیم.
        </p>

        <h4 class="text-right mb-2">۴. اشتراک اطلاعات شما</h4>
        <p class="para-text">
          ما اطلاعات شخصی شما را با اشخاص ثالث به جز مواردی که در این سیاست توضیح داده شده است به اشتراک نمی‌گذاریم. ممکن است اطلاعات شما را به ارائه‌دهندگان خدماتمان که به ما در ارائه خدمات کمک می‌کنند افشا کنیم، اما تنها به میزان لازم برای انجام وظایفشان.
        </p>

        <h4 class="text-right mb-2">تماس با ما</h4>
        <p class="para-text">
          اگر سؤال، نگرانی یا درخواستی در مورد این سیاست حفظ حریم خصوصی یا نحوه مدیریت اطلاعات شخصی شما دارید، لطفاً از طریق اطلاعات تماس ارائه‌شده در وب‌سایت ما با ما تماس بگیرید.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}